:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-drawer-container {
  flex: 1;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 1.5rem;
  flex: 1;
}

mat-drawer {
  width: 15vw;
}
